.outerDiv{
    min-height: 70vh;
    height: auto;
    width: 90%;
    margin: 20px auto;
    /* border: 2px solid red; */
}

.mainHeader{
    height: 20vh;
    width: 100%;
    /* border: 2px solid maroon; */
    margin: 10px 0px;
}
.mainHeader ul{
    display: flex;
    height: inherit;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mainHeader ul li{
    list-style: none;
}
.mainHeader ul li button{
    font-size: 0.9rem;
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 10px;
    outline: 1px solid lightgray;
    border: none;
    cursor: pointer;
}
.mainHeader ul li button:active{
    transform: scale(0.98);
}
.mainHeader ul li button:hover{
    background-color: blue;
    color: white;
}

.listDiv{
    min-height: 70vh;
    height: auto;
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
}
.btnDiv{
    margin: 30px auto;
    height: 10vh;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin: 30px auto;
    display: inline-block;
    height: 2.4rem;
    width: 9rem;
    border: 1px solid red;
    color: red;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
